@if (restaurant$ | async; as restaurant) {
  <section>
    <!-- Zurück-Link -->
    <nav class="restaurant-nav">
      <a routerLink="/restaurants">← Zurück zur Liste</a>
      @if (restaurantIdFromRoute) {
        <a [routerLink]="['/forum/restaurant', restaurantIdFromRoute]"> Forum </a>
      }
      <button [disabled]="disableCartActions" class="cart-indicator" routerLink="/cart">
        🛒 {{ totalItems$ | async }}
      </button>
    </nav>
    <!-- Header -->
    @if (restaurant$ | async; as restaurant) {
      <app-restaurant-header class="restaurant-header" [restaurant]="restaurant">
      </app-restaurant-header>
    }
    <!-- Speisekarte -->
    @if (categories$ | async; as categories) {
      <section class="menu">
        <h2>Speisekarte</h2>
        @for (category of categories; track category) {
          <div class="menu-category">
            <!-- Kategorie-Überschrift -->
            <h3 class="category-title">{{ category.name }}</h3>
            <!-- Gerichte -->
            <div class="dish-list">
              @for (dish of category.dishes; track dish) {
                <div class="dish-card">
                  <div class="dish-info">
                    <h4>{{ dish.name }}</h4>
                    @if (dish.description) {
                      <p class="dish-description">
                        {{ dish.description }}
                      </p>
                    }
                    <span class="dish-price">
                      {{ dish.price / 100 | currency: 'EUR' }}
                    </span>
                  </div>
                  <!-- Add-Button -->
                  <button
                    class="add-button"
                    aria-label="Zum Warenkorb hinzufügen"
                    (click)="addToCart(dish)"
                    [disabled]="disableCartActions"
                  >
                    +
                  </button>
                </div>
              }
            </div>
          </div>
        }
      </section>
    } @else {
      <p>Lade Restaurant…</p>
    }
    <!-- Fixierter Warenkorb-Button -->
    @if (cartItems$ | async; as items) {
      @if (items.length > 0) {
        <button class="cart-button" routerLink="/cart" [disabled]="disableCartActions">
          🛒 Zum Einkaufswagen
        </button>
      }
    }
  </section>
} @else {
  <p>Lade Restaurant…</p>
}
