@if (draft$ | async; as draft) {
  <section class="review-page">
    @if (restaurant$ | async; as restaurant) {
      <app-restaurant-header class="restaurant-header" [restaurant]="restaurant">
      </app-restaurant-header>
    }
    <h2>Bestellung prüfen</h2>
    @for (item of draft.items; track item) {
      <div class="cart-item-card">
        <div class="item-info">
          <h3>{{ item.name }}</h3>
          <p>{{ item.quantity }} × {{ item.unitPrice / 100 | currency: 'EUR' }}</p>
          <p>
            <strong>
              {{ item.totalPrice / 100 | currency: 'EUR' }}
            </strong>
          </p>
        </div>
      </div>
    }
    @if (voucherState$ | async; as voucherState) {
      <div class="voucher-box">
        <label for="voucher">Gutscheincode</label>
        <div class="voucher-input">
          <input
            id="voucher"
            type="text"
            [(ngModel)]="voucherCode"
            placeholder="z.B. FOOD10"
            (input)="onInputChange()"
            (keyup.enter)="checkVoucher()"
          />
          <button
            (click)="checkVoucher()"
            [ngClass]="{
              success: voucherState === 'valid',
              error: voucherState === 'invalid',
            }"
            [disabled]="voucherState === 'valid'"
          >
            Prüfen
          </button>
        </div>
        @if (voucherState === 'valid') {
          <p class="voucher-success">✔ Gutschein angewendet</p>
        }
        @if (voucherState === 'invalid') {
          <p class="voucher-error">✖ Ungültiger Gutschein</p>
        }
      </div>
    }
    @if (orderDraftService.subtotalAmount$ | async; as subtotal) {
      <div class="cart-summary">
        <p>Subtotal: {{ subtotal / 100 | currency: 'EUR' }}</p>
        @if (orderDraftService.discountAmount$ | async; as discount) {
          <p>
            @if (discount > 0) {
              <span> Rabatt: − {{ discount / 100 | currency: 'EUR' }} </span>
            }
          </p>
        }
        @if (orderDraftService.feeAmount$ | async; as fee) {
          <p>Service Fees: {{ fee / 100 | currency: 'EUR' }}</p>
        }
        @if (orderDraftService.totalAmount$ | async; as total) {
          <p>
            <strong> Gesamt: {{ total / 100 | currency: 'EUR' }} </strong>
          </p>
        }
      </div>
    }
  </section>
}

<button class="checkout-button" (click)="goToPayment()">Weiter zur Zahlung</button>
