@import '../../admin-ui.css';

.admin-panel-header-text {
  justify-items: left;
  display: flex;
  flex-direction: column;
}

.admin-panel-header-btn {
  justify-items: flex-end;
}

@media (max-width: 900px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
